parameters:
    level: 8
    paths:
        - src
        - config
    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        - '#Unable to resolve the template type TKey in call to function collect#'
        - '#Unable to resolve the template type TValue in call to function collect#'
